:root {
    --background: #d6c3c3;
    --font: #0a0909;
    --border: #333;
    --screen: #eee;
    --calculator: #d31a1a;
    --btn: hsla(83, 45%, 94%, 0.952);
    --btn-hover: #d68c8c;
    --btn-active: #ccc;
    --btn-red: rgb(243, 161, 9);
    --btn-red-hover: rgb(243, 235, 235);
    --btn-red-active: #d88;
    --btn-blue: rgb(22, 22, 189);
    --btn-blue-hover: rgb(232, 232, 238);
    --btn-blue-active: #88d;
  }
  


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
position: relative;
min-height: 100%;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
  }
 
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
   
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 85px;
    background-color: var(--btn);
    border: 2px var(--border) solid;
    font-size: 25px;
    cursor: pointer;
  border-radius: 2.5rem;
   grid-gap: 0.5rem;
   padding: 20px;
   
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }

  .calculator {
    width: 500px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);

  }
   .screen {
        padding: 60px 50px;
        border: 2px var(--border) solid;
        border-radius: 5px;
        margin-bottom: 80px;
        background-color: var(--screen);
        text-align: right;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 2.5rem;
        background-color: #474343;
   }

   .buttons-box {
  display: grid;
  grid-template-columns: (4, 1fr) ;
    grid-gap: 0.5rem;
    padding: 20px;
  border-radius: 5px;
   }

   .user-input {
    position: relative;
    top: -18px;
    text-align: right;
    font-weight: 400;
    font-size: 30px;
    color: rgb(46, 204, 46);
   }

   .result-screen {
    position: relative;
    bottom: -28px;
    font-weight: 600;
    font-size: 40px;
    text-align: right;
    color: rgb(236, 233, 229);
   }

 .grid-2 {
    grid-column: span 2;
    padding: 10px 100px;
 }

#equalsBtn {
  grid-column: 3 / 5;
  border-radius: 2.5rem;
  
}

#equalsBtn:hover {
background-color: rgb(50, 211, 35);
}


 .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  .red-btn {
    background-color: var(--btn-red);
  }
  
  .red-btn:hover {
    background-color: var(--btn-red-hover);
  }
  
  .red-btn:active {
    background-color: var(--btn-red-active);
  }
  
  .blue-btn {
    background-color: var(--btn-blue);
  }
  
  .blue-btn:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .blue-btn:active {
    background-color: var(--btn-blue-active);
  }
  input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }