:root {
    --background: #d6c3c3;
    --font: #0a0909;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: hsla(83, 45%, 94%, 0.952);
    --btn-hover: #d68c8c;
    --btn-active: #ccc;
    --btn-red: rgb(221, 27, 27);
    --btn-red-hover: rgb(206, 38, 38);
    --btn-red-active: #d88;
    --btn-blue: rgb(22, 22, 189);
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
  }
  


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
position: relative;
min-height: 100%;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
  }
 
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
   
  .btn {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--btn);
    border: 2px var(--border) solid;
    border-radius: 5px;
    font-size: 20px;
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }

  .calculator {
    width: 500px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
  }
   .screen {
        padding: 30px 20px;
        border: 2px var(--border) solid;
        border-radius: 5px;
        margin-bottom: 80px;
        background-color: var(--screen);
        text-align: right;
        word-wrap: break-word;
        word-break: break-all;
   }

   .buttons-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
   }

 .grid-2 {
    grid-column: span 2;
    padding: 10px 100px;
 }

 .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  .red-btn {
    background-color: var(--btn-red);
  }
  
  .red-btn:hover {
    background-color: var(--btn-red-hover);
  }
  
  .red-btn:active {
    background-color: var(--btn-red-active);
  }
  
  .blue-btn {
    background-color: var(--btn-blue);
  }
  
  .blue-btn:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .blue-btn:active {
    background-color: var(--btn-blue-active);
  }
  
  input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }